
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
</head>
<body>
    <div class="container">
        <h1>
            Available contact information(s)
        </h1>
        <div class="contacts">
            <ul>
                
                <li>
                    <p><%= contacts.name %></p>
                    <p><%= contacts.email %></p>
                    <p><%= contacts.phone %></p>
                </li>
               
            </ul>
        </div>
    </div>
</body>
</html>